body {
    /* font for text */
    font-family: Arial, Helvetica, sans-serif;

    /* color of text */
    color: black;

    margin: 0; 
}

.background {
    display: block;
    position: relative;
}

.background::after {
    content: "";
    background-image: url("../images/desk-background.jpg");
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

h1 {

    /* Set the font size to 30 pixels */
    font-size: 30px;


}

h2 {
    /* Set the font size to 25 pixels */
    font-size: 25px;

}

h3 {
    /* Set the font size to 20 pixels */
    font-size: 20px;

}

p {
    /* Set the font size to 18 pixels */
    font-size: 18px;

}

.caption-name {
    /* set font size to 15 pixels and make text bold */
    font-size: 15px;
    font-weight: bold;

}

.caption-title {
    /* set font size to 13 pixels */
    font-size: 13px;

}

img {
    float: none;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.container {
    display: inline-block;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    background-color: #a1eb97;
    z-index: 1000000000;
} 

nav li {
    display: inline;
    margin-right: 1rem;
}