* {
    box-sizing: border-box;
}

body {
    /* font for text */
    font-family: Arial, Helvetica, sans-serif;

    /* color of text */
    color: black;

    margin: 0; 
}

.background {
    display: block;
    position: relative;

}

.background::after {
    content: "";
    background-image: url("../images/desk-background.jpg");
    background-repeat: repeat-y;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;  
}

h1 {
    font-size: 30px;
    display: inline-block;

    padding-top: 5rem;
    margin-left: 2rem;
}

h2 {
    background-color: lightblue;
    font-size: 25px;

    display: block;
}

h3 {
    font-size: 20px;
}

p {
    font-size: 18px;
}

.caption-name {
    font-size: 20px;
    font-weight: bold;

}

.caption-title {
    font-size: 15px;
}

img {
    float: none;
    width:  300px;
    height: 300px;
    object-fit: cover;
}

.container {
    display: inline-block;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .75rem;
    background-color: #bb97eb;
    z-index: 1000000000;
}

/* applies to <li> elements inside a <nav> element */
nav li {
    display: inline;
    margin-right: 1rem;
}

.nav_item {
    /* remove the underline for a hyperlink */
    /* text-decoration: none; */
}

.flex-container {

    /* Parent must have display set to flex */

    /* Set flex-direction to row */

    /* Center each row on the page (hint: justify-content) */

}

.flex-item {

    /* Set all-around margin to 1rem */

    /* Make names and titles centered with pictures 
    (hint: text-align) */
    
}

.staff-category-text {

    /* Set font-weight to bold */

    /* Set font-size to 40 px */

    /* Add all-around margin of 7rem */

}