body {
    /* font-family: ;
    color: ; 

    background-color: ;*/
} 

h1 {
    /* background-color:;
    font-size: ; */
}

h2 {
    /* background-color:;
    font-size: ; */
}

h3 {
    /* font-size: ; */
}

p {
    /* font-size: ; */
}

.caption-name {
    /* font-size: ;
    font-weight: ; */
}

.caption-title {
    /* font-size: ; */
}